* {
    background-color:#632020;
    color:#9f9d2d
}

body {
    text-align: center;
}

h1 {
    border:solid yellow;
    width:auto;
    text-align: center;
}

ul {
    text-align: center;
    text-decoration:none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
}